<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Schoolbell-Regular.ttf</string>
	</array>
    
    <key>NSCameraUsageDescription</key>
    <string>Precisamos acessar sua câmera para capturar fotos.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Precisamos da sua localização para registrar onde a foto foi tirada.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Precisamos salvar a foto na galeria.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Precisamos acessar sua galeria para selecionar fotos.</string>
</dict>
</plist>
